* {
  box-sizing: border-box;
}

:root {
  --black: #080808;
  --white: #fefefe;
  --gray: #565656;
  --gray-20: #ededf0;
  --light-gray: #f0f0f4;
  --stone-blue: #59788e;
  --highlighter: #cfff04;
  --sidebar-width: 200px;
  --shadow: rgba(0, 0, 0, 0.4);
}

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  color: var(--black);
  background-image: url("../assets/paper_texture_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* side bar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 1rem;
}

.sidebar li a {
  display: block;
  color: var(--black);
  padding: 0.5rem 1rem;
  text-align: left;
  text-decoration: none;
  border-bottom: 2px solid var(--gray);
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease, font-size 0.3s ease;
}

.sidebar li a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -100%;
  width: 100%;
  height: 1.5rem;
  background-color: var(--highlighter);
  transform: translateY(-50%);
  z-index: -1;
  transition: left 0.3s ease;
}

.sidebar li a:hover {
  color: var(--black);
  font-size: 1.1em;
}

.sidebar li a:hover::before {
  left: 0;
}

/* Main Content */
.content {
  margin-left: calc(var(--sidebar-width) + 3rem);
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.bio-image {
  width: 400px;
  height: 450px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 6px var(--shadow);
  margin-right: 1.5rem;
}

.bio-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  max-width: 600px;
  margin-top: 0;
  margin-bottom: 1rem;
}

.bio-text {
  margin-top: 0;
  padding-top: 1rem;
  font-size: 1.2em;
  line-height: 1.8;
  max-width: 500px;
}

.bio-section h1 {
  margin-top: 0;
  padding-top: 0;
}

.bio-section ol {
  font-size: 1.2em;
  line-height: 1.5;
}

.bio-section ol li {
  margin-bottom: 1rem;
}

/* Internship specific styles */
.internship-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.internship-content .bio-section {
  max-width: 800px;
}

.bio-section p,
.bio-section ol {
  font-size: 1.2em;
  line-height: 1.8;
}

.internship-content .top-links {
  justify-content: center;
}

.internship-content ol {
  text-align: left;
}

.top-links {
  display: flex;
  justify-content: left;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.top-links a img {
  border: 5px solid var(--white);
  width: 280px;
  height: 90px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--white);
  object-fit: contain;
}

.top-links a img:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

/* Reseume specific styles */
.resume-content h1 {
  text-align: center;
  width: 100%;
}

.resume-content iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

/* for photography.html */
/* gallery styles */
.gallery {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.gallery h2 {
  font-weight: normal;
  font-size: 1.5rem;
  color: var(--black);
}

.gallery-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

.gallery-section img {
  flex: 1 1 calc(33.333% - 1rem);
  max-width: calc(33.333% - 1rem);
  height: auto;
  object-fit: cover;
}

/* specifc styles needed for realiging text on photography.html */
.content.photography-content {
  display: block;
}

.content.photography-content h1 {
  margin-bottom: 1rem;
  text-align: center;
}

.content.photography-content p {
  margin-top: 0;
  line-height: 1.6;
  text-align: center;
}

/* code for form on contact page */
.page-title {
  margin-left: calc(200px + 2rem);
  font-size: 2rem;
  color: #333;
}

.contact-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid var(--gray-20);
  border-radius: 10px;
  background-color: var(--white);
}

/* Inquiry Fieldset */
.inquiry-fieldset {
  border: 1px solid var(--gray-20);
  border-radius: 5px;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.inquiry-fieldset legend {
  font-weight: bold;
  font-size: 1.2rem;
}

.inquiry-fieldset label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--gray);
}

/* Form Styling */
.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form h2 {
  margin-top: 0;
}

.signup-form p {
  color: var(--gray);
  margin-bottom: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-group input {
  padding: 0.5rem;
  border: 1px solid var(--gray-20);
  border-radius: 5px;
}

/* Button Group */
.button-group {
  display: flex;
  gap: 1rem;
}

.button-group button {
  flex: 1;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-group button:active {
  transform: translateY(1px);
  box-shadow: inset 0 0 5px var(--shadow);
}

.button-group button[type="submit"] {
  background-color: var(--stone-blue);
  color: var(--white);
  border: 1px solid var(--gray);
}

.button-group button[type="reset"] {
  background-color: var(--gray-20);
  color: var(--black);
  border: 1px solid var(--gray);
}

.button-group button:hover {
  opacity: 0.9;
}

/* Social Media Section */
.social-section h3 {
  margin: 2rem 0 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.social-icons a img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-icons a img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* for icons from Font Awesome */
.social-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.social-icons a {
  text-decoration: none;
  font-size: 36px;
  color: var(--gray);
}

.social-icons a:hover {
  color: var(--stone-blue);
}

.mobile-top-bar {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
  background-color: var(--light-gray);
  border-bottom: 1px solid var(--gray);
  z-index: 9999;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3rem;
  cursor: pointer;
  font-weight: bold;
}

/* tablet media query */
/* For standard tablets */
@media (max-width: 768px) {
  .content {
    margin-left: 0;
    padding: 1rem;
    justify-content: center;
  }

  .bio-image,
  .bio-section {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar ul li a {
    font-size: 1.2em;
  }

  .top-links {
    flex-direction: column;
    align-items: center;
  }

  .top-links a img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem;
  }

  .gallery-section img {
    flex: 1 1 calc(100% - 1rem);
    max-width: calc(100% - 1rem);
  }

  .page-title {
    margin-left: 0;
    text-align: center;
  }

  .resume-content iframe {
    width: 100%;
    height: 100vh;
  }
}

/* mobile media query */
/* For standard mobile devices */
@media (max-width: 480px) {
  main {
    margin-top: 3.5rem;
  }

  .sidebar {
    display: none;
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100vh;
    background: var(--gray-20);
    transition: transform 0.3s ease;
    overflow-y: auto;
  }

  .sidebar.active {
    display: block;
    transform: translateX(0);
  }

  .mobile-top-bar {
    display: block;
  }

  .content {
    margin: 0;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bio-image,
  .bio-section,
  .gallery-section img {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  .top-links {
    flex-direction: column;
    align-items: center;
  }

  .top-links a img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 1rem;
  }

  .gallery-section {
    flex-direction: column;
    align-items: center;
  }

  .gallery-section img {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .page-title {
    margin-left: 0;
    text-align: center;
  }

  .resume-content iframe {
    width: 100%;
    height: 100vh;
  }
}

/* Media Query for iphone 16 and other modern devices */
/* mobile media query */
@media (max-width: 390px) {
  main {
    margin-top: 3.5rem;
  }

  .sidebar {
    display: none;
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100vh;
    background: var(--gray-20);
    transition: transform 0.3s ease;
    overflow-y: auto;
  }

  .sidebar.active {
    display: block;
    transform: translateX(0);
  }

  .mobile-top-bar {
    display: block;
  }

  .content {
    margin: 0;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bio-image,
  .bio-section,
  .gallery-section img {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  .top-links {
    flex-direction: column;
    align-items: center;
  }

  .top-links a img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 1rem;
  }

  .gallery-section {
    flex-direction: column;
    align-items: center;
  }

  .gallery-section img {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .page-title {
    margin-left: 0;
    text-align: center;
  }

  .resume-content iframe {
    width: 100%;
    height: 100vh;
  }
}
