.container {
  display: flex;
  flex-direction: column;
}

p.bio::first-line {
  font-weight: bold;
}

.img {
  display: block;
  margin: 20px auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.bio {
  margin: 20px auto;
  width: 300px;
}
