* {
  box-sizing: border-box;
}

:root {
  --black: #080808;
  --white: #fefefe;
  --gray: #565656;
  --sidebar-width: 200px;
}

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  color: var(--black);

  background-image: url("../assets/paper-texture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* side bar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar li a {
  display: block;
  color: var(--white);
  padding: 1rem;
  text-align: left;
}

.sidebar li a:hover {
  background-color: #1d261283;
}

/* Main Content */
.content {
  margin-left: var(--sidebar-width);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
}

.bio_section {
  background-color: #1d26125e;
  border: none;
  padding: 2rem;
  max-width: 600px;
  text-align: center;
  width: 80%;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.607);
}

.bio_image {
  margin: 10px auto;
  border-radius: 5%;
  width: 300px;
  height: 350px;
  object-fit: cover;
}

.bio_text {
  margin: 1rem;
  font-size: 1.7em;
  line-height: 1.5;
  max-width: 500px;
}
